#container {
	height: 800px;
	width: 100%;
	background-image: url(../img/bg.jpg);
    background-size: cover;

}

#title1 {
	padding-top: 5%;
}


h1 {
	font-size: 120px;
	background: white;
	text-align: center;
	
}

h2 {
	font-size: 40px;
	background: white;
	text-align: center;
}
