<!DOCTYPE html>
<html>
<head>
	
	<title>Contact</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="contact.css">
	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
	<meta charset="utf-8">

</head>
<body>
	<div class="contact">
		<div class="container">
			<h1>Contact</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				 incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

			<form>
				
					<div class="form-group">
    					 <div class="form-group row">
    						<label for="inputEmail3" class="col-sm-2 col-form-label"><strong>Your E-mail</strong></label>
    						<div class="col-sm-10">
      						<input type="email" class="form-control" id="inputEmail3" placeholder="Your email" required="">
    						</div>
  					</div>
  						<div class="form-group">
  							<div class="form-group row">
   							<label for="inputtextarea3" class="col-form-label"><strong>Your message</strong></label>
   							<div class="col-sm-10">
    						<textarea class="form-control" placeholder="Please enter your message here..." id="	exampleFormControlTextarea1" rows="3" required=""></textarea></div>

    						<button type="submit" class="btn btn-primary mb-2">Submit</button>
  						</div>
  					
  			</form>

		</div>
		
  
	</div>

<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="bootstrap/js/jquery.js"></script>
</body>
</html