<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>first-heading</title>
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../css/first-heading.css">
</head>
<body>
	

	<div class="container">


		<div class="row">
			<div class="col-8">

				<h1 id="black-title">This first heading <span id="gray-title">Will catch your eye</span></h1>
				<p id="heading-message">Donec ullamcorper nulla non metus auctor fringilla. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nulla vitae elit libero, a pharetra augue. Vestibulum id ligula porta felis euismod semper. Sed posuere consectetur est at lobortis.</p>
			</div>

			<div class="col">

				<img id="imagen-heisenberg" class="rounded-circle" src="../img/1.jpg">
				
			</div>
		</div>
	</div>














	<script type="text/javascript" src="../js/jquery-3.2.1.slim.min.js"></script>
	<script type="text/javascript" src="../js/popper.min.js"></script>
	<script type="text/javascript" src="../js/bootstrap.js"></script>


	<script id="__bs_script__">//<![CDATA[
    document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.js?v=2.23.6'><\/script>".replace("HOST", location.hostname));
//]]></script>
	

</body>
</html>