<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>tagline</title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
</head>
<body>
	<div id="container" style="border: red solid 1px">
		
		<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum quis assumenda dolores, fuga. Nulla debitis ex, sit vel! Magni cumque maxime libero inventore esse voluptates labore nihil quidem dolore expedita!
	</div>

		
	</div>
</body>
</html>